<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<div class="container">
	<div class="row">
		<div class="col-md-12 white-panel">
			<h1>FAQ</h1>

			<h2>HOW MUCH DO CLASSES COST?</h2>
			<p>Our classes are offered absolutely free of charge.</p>

			<h2>WHAT COURSES ARE YOU OFFERING?</h2>
			<p>You can learn all about our current and upcoming offerings in the <a href="/courses" target="_blank">Catalog</a> section of this site.</p>

			<h2>HOW LONG ARE YOU OFFERING EACH COURSE?</h2>
			<p>Each one of our courses is open indefinitely. That being said, content can become stale over time, especially when we’re talking about emerging and evolving technologies. For this reason, we will be updating our courses or replacing them as need and timeliness demand. Naturally, we think that once you’ve enrolled in a course, you ought to go ahead and finish it as quickly as you can. Why not, right?</p>

			<h2>HOW LONG WILL IT TAKE TO COMPLETE EACH LESSON?</h2>
			<p>Lessons consist of videos, assignments, and a quiz. You can expect to spend 30-60 minutes per video (which have often been broken into smaller chapters) and an additional hour on each assignment. Of course, if you would like to turn your assignments into work suitable for your portfolio, we advise spending more time on them. Generally speaking, we recommend tackling one lesson per week, but the pace is up to you.</p>

			<h2>WHAT HAPPENS IN THE FORUM?</h2>
			<p>The Forum is a place where students can connect, form study groups, critique each other’s assignments, and pose (or answer) questions. The instructor and teaching assistants for each course will drop in periodically to get a feel for—and comment on—the discussion.</p>

			<h2>IS THE ASSESSMENT REQUIRED TO BEGIN THE CLASS?</h2>
			<p>The assessment serves as a benchmark to help you figure out if the course will be a good fit for you at your skill level. For this reason, we require everyone to take it before beginning the course. Getting at least 70% percent of the questions correct means that the course is right for you. If you score lower than that, you are still welcome to take the course. Just be aware that you might struggle a bit.</p>

			<h2>CAN I SKIP AHEAD IF I DON'T WANT TO WATCH THE FULL VIDEO?</h2>
			<p>All of our courses are designed to be completed in sequential order. However, you can watch the videos in any order or skip them entirely. You’ll only get two chances to take the final exam, though, so we encourage you to complete all of the videos and coursework before attempting it.</p>

			<h2>DO I NEED TO BUY ANY BOOKS?</h2>
			<p>You do not need to purchase any books to complete our courses. Required reading consists of free online content. In some instances instructors will recommend books or other material that you may have to purchase, but these are simply recommendations intended for people looking to take a deeper dive into the course topic.</p>

			<h2>WILL I GET TO INTERACT WITH THE INSTRUCTOR?</h2>
			<p>One of the challenges of a massive, open course is the instructor-to-student ratio. While it’s virtually impossible at this scale for each student to connect individually with our instructors, instructors and TAs will monitor the Forum and jump into the discussion whenever possible.</p>

			<h2>WILL I BE ABLE TO SEE WHAT QUESTIONS I MISS ON THE QUIZZES?</h2>
			<p>With the initial assessment and the final assessment, we will only provide a score, no feedback. With the quizzes at the end of each lesson, however, we will provide the correct answer with an explanation after you've submitted it. These quizzes are designed to help reinforce key concepts, as opposed to testing your knowledge.</p>

			<h2>WHERE CAN I GET HELP IF I HIT A SNAG?</h2>
			<p>Depends on the snag. If it's the type of thing the instructor would need to answer, your best bet is to submit a question or comment in the Forum. If it's general or technical/site issue, you can submit a question through the Forum or simply email us at <a href="mailto:gymhelp@aquent.com">gymhelp@aquent.com</a></p>

			<h2>WILL I RECEIVE A GRADE AT THE END OF CLASS?</h2>
			<p>While quizzes and assessments are graded, you will not receive an overall grade for the class. If you complete all the lessons and score 85% or better on the final exam, you will receive a Certificate of Excellence.</p>

			<h2>HOW DO I GET MY CERTIFICATE?</h2>
			<p>You will be able to access it via a link once you complete the course.</p>
		</div>
	</div>
</div>
