<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<div class="container ">
	<div class="row">
		<div class="col-md-12 ">
      <div class="white-panel">
        <div class="row">
          <div class="col-md-9">
            <h1>About</h1>
            <iframe width="100%" height="425" src="https://www.youtube.com/embed/snmz3M2RUBo" frameborder="0" allowfullscreen></iframe>

            <h1>Why Aquent Gymnasium?</h1>
            <h2>We created Aquent Gymnasium to bridge the skills gap.</h2>

            <p>The skills gap is getting in the way.</p>

            <p>It prevents companies from engaging customers across devices and taking advantage of emerging technologies.</p>

            <p>It also prevents digital, creative, and communications professionals from producing great work, delivering results and advancing their careers.</p>

            <p>Aquent Gymnasium bridges the skills gap by taking what we've learned from our clients and developing free, online courses that teach digital designers and front-end developers today's most in demand skills.</p>
          </div>

          <div class="col-md-3">
          </div>

        </div>
      </div>
		</div>
	</div>
</div>
