// Rules for Bookmarks Button
.courseware-bookmarks-button {

  .bookmarks-list-button {
    padding-top:0.5em;
    padding-bottom:0.5em;

    &.is-active {
    }
  }
}

// Rules for bookmark icon shown on each sequence nav item
.course-content {
  .bookmark-button {
    border-color:$gym-orange;
    color:$gym-orange;

    &:hover{
      border: 1px solid;
      font-weight:bold;
      background:transparent;
      color:$gym-orange;
    }
    &.is-active {
      background-color: lighten($gym-orange,10%);
      color: $white;
    }

    &.bookmarked {
      background-color: lighten($action-primary-bg,10%);
      color: $white;
    }
  }
}
