/* --- find work / job board / sidebar --- */

/* find work header */

#find-work header {
  margin-top: .875em;
  margin-bottom: .2em;
  }

#find-work header h2 {
  font: 900 1.7em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: .06em;
  word-spacing: .04em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .4em;
  }

#find-work header p {
  font: normal 1.3em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 0;
  }

/* find work select */

#find-work #field-market {
  margin: 0;
  }

#find-work #market {
  display: block;
  width: 100%;
  font-size: 1em;
  margin: 1.2em 0;
  }

/* find work loading message */

#find-work .loading-find-work {
  color: #fff;
  text-align: center;
  background: #a6a6a6;
  padding: 1.2em;
  }

#find-work .loading-find-work b {
  letter-spacing: 0.03em;
  }

/* find work listings */

#find-work .job-list-container {
  margin: 1.2em 1em 0;
  }

#find-work .job-list-container a {
  font-weight: bold;
  }

#find-jobs-job-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1.2em;
  }

#find-work .job-list .row {
  font: 1em/1.15 "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ccc;
  }

#find-work .job-list .row:first-child {
  border-top: 1px solid #ccc;
  }

#find-work .job-list a {
  display: block;
  position: relative;
  color: #f8971d;
  height: auto;
  padding: .6em 1.2em .6em .6em;
  overflow: hidden;
  transition: .2s padding-left ease-in-out;
  }

#find-work .job-list a:hover,
#find-work .job-list a:focus {
  padding-left: 1.2em;
  }

#find-work .job-list a:hover:before {
  display: inline-block;
  position: absolute;
  top: 0; bottom: 0;
  right: 0;
  font: 1em/1 monospace, monospace;
  color: #444;
  content: "→";
  height: 0;
  line-height: 0;
  margin: auto;
  }

#find-work a:hover .job-title,
#find-work a:focus .job-title,
#find-work .view-all-jobs:hover,
#find-work .view-all-jobs:focus {
  text-decoration: underline;
  }

#find-work .job-post {
  line-height: 1.2;
  }

#find-work .job-title {
  line-height: 1.3;
  text-transform: capitalize;
  }

#find-work .job-market {
  display: block;
  font-style: normal;
  font: bold .8125em/1.2 "Helvetica Neue", Helvetica, sans-serif;
  color: #444;
  letter-spacing: .02em;
  margin-top: .325em;
  margin-bottom: .25em;
  }

#find-work .view-all-jobs {
  padding: 0;
  }

/* resets / overrides */

.find-courses .sidebar #find-work .job-board {
  padding: 0;
  border-top: 0;
  margin: 1.2em 0;
  }

#find-work-search a:hover,
#find-work-search a:focus {
  border-bottom: 0;
  }

#find-work b.col-xs-8 {
  width: auto;
  padding: 0;
  }

#find-work em.col-xs-4 {
  width: 100%;
  padding: 0;
  }

#find-work em.text-right {
  text-align: left;
  }

/* view jobs button */

#view-jobs-button {
  font-size: 85%;
  max-width: 32em;
  width: 100%;
  border: 0;
  padding: 1em;
  cursor: pointer;
  }

#view-jobs-button b {
  font-size: 1.8em;
  }

#find-work .job-board,
#find-work .job-list {
  margin-top: 1em;
  margin-bottom: 1em;
  }

/* viewing jobs in */

#find-work h3.viewing-jobs-in {
  font: bold 1em/1.3 "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: .02em;
  text-transform: none;
  margin-top: 0;
  }

/* footer / optional */

#find-work .note {
  color: #939393;
  padding-top: 1em;
  border-top: 1px dashed #ccc;
  margin-top: 1em;
  }

#find-work .note p {
  color: #939393;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  }

#find-work .note small {
  font-size: .8125em;
  }
