.login-register,
#login-and-registration-container
{
  background: transparent;
}

.login-register
{
  form {
    background:white;
  }
  /*** linkedin Login button styles ***/

  $linked-in-blue: #0077B5;

  button.gym-button.button-oa2-linkedin-oauth2.login-provider.login-oa2-linkedin-oauth2,
  button.gym-button.button-oa2-linkedin-oauth2.login-provider.register-oa2-linkedin-oauth2
  {
    transform: scale(1.5,1.5);
    border-color: $linked-in-blue;

    .icon.fa.fa-linkedin {
      border-radius:1px;
      margin: 0;
    }

    span {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

.register.container, .login.container
{
  background-color:white;
  border:1px solid #ccc;
  margin-top:1.8em;
  border-radius: 2px;

  #field-password .tip.tip-input {
    margin-top: -0.3em;
  }

  .sign-up
  {
    border-right:1px dashed #ccc;
    padding:1.6em;
  }

  .additional-information
  {
    padding:1.6em;
  }

  .instructions
  {
    padding-bottom: 1.8em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.8em;

    p
    {
      font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1.6em;
      line-height: 1.5;
      letter-spacing: .01em;
      word-spacing: .02em;
    }
  }

  h2
  {
      margin-bottom:1.2em;
      font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  }

  form
  {
    .field
    {
      .tip
      {
        font-size:1em;
      }
    }
  }

  #market
  {
    width:150px;
  }

  .err-message
  {
    display:none;
  }

  .err-message.is-shown
  {
    display:block;
  }
  .err-message {
  background: #f2dede;
  padding: 1.8em;
  border: 1px solid #d9534f;
  border-radius: .12em;
  margin-bottom: 1em;
  }

.err-message h3 {
  color: #d9534f;
  margin-top: 0;
  margin-bottom: -.2em;
  }

.err-message ul {
  margin-top: 1.4em;
  color:#d9534f;
  }

.err-message li {
  font: bold 1em/1.5 "Helvetica Neue", Helvetica, sans-serif;
  color: #d9534f;
  letter-spacing: .01em;
  margin-top: 1em;
  }
}

.login 
{
  nav
  {
    a:hover
    {
      border-bottom:none;
    }
  }
  
  a:hover
  {
    border-bottom: 1px solid $gym-orange;
  }
}

body,
body.login,
body.register,
{
  ul.list-input,
  ol.list-input
  {
    label
    {
      font: 1em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
      color: #222;
      letter-spacing: .03em;
      word-spacing: .05em;
      text-transform: uppercase;
    }

    input
    {
      font: 1em/1 "Helvetica Neue", Helvetica, sans-serif;
      width: 100%;
      padding-top: .6em;
      padding-bottom: .6em;
      border: 0;
      border-bottom: .200em solid $gym-orange;
      margin-top: .4em;
      margin-bottom: .4em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      box-shadow:none;
      background:none;
    }
  }
}


body 
{
  ul.list-input, 
  ol.list-input, 
  &.login ul.list-input, 
  &.login ol.list-input, 
  &.register ul.list-input, 
  &.register ol.list-input,
  .login form,
  .register form,
  .passwordreset form,
  #forgot-password-modal #password-reset form    
  { 
    .field.is-focused
    {
      color:$gym-orange;

      input, 
      label, 
      span,
      span.tip,
      .tip, 
      {
        color:$gym-orange;
      }

      input:focus{
        outline-color:$gym-orange;
      }
    }
  }
}