<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>

<%! from microsite_configuration import microsite %>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Gymnasium Courses
URL of the webpage where the tag is expected to be placed: http://gymnasium.aquent.com/courses
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/02/2015
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna001;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna001;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<section class="find-courses" id="gym-catalog">


  <div class="course-title container-fluid">
    <header class="container">
      <div class="row">
        <h1>Catalog</h1>
      </div>
    </header>
  </div>

  <div class="container course-menu">
    <div class="row">
      <ul>
        <li>
          <a href="#full">Full Courses</a>
        </li>
        <li>
          <a href="#gymshorts">Gym Shorts</a>
        </li>
      </ul>
    </div>
  </div>

  <main class="container catalog-content">


    <div class="row">
      <article class="col-md-8 col-lg-9 course-overview">
        <h1 id="full">
          Full Courses
        </h1>
        <p class="hero">
            All our full courses are taught by experienced practitioners and focused on in-demand skills and technologies. Each includes 3 to 6 hours of video instruction, quizzes, assignments, a final exam, and certification when you pass!
        </p>
        <section class="my-courses">
          <ul class="listing-courses" id="full-course-list">
            %for course in courses:
              <li class="course-item" data-course-id="${course.display_number_with_default | h}">
                <%include file="catalog-course.html" args="course=course" />
              </li>
            %endfor
          </ul>

          <h1 id="gymshorts">
            Gym Shorts
          </h1>
          <p class="hero">
            Gym Shorts are short, snackable courses that all last under an hour. Like our longer courses, they are practical, taught by experienced practitioners, and focused on in-demand skills and technologies.
          </p>

          <ul class="listing-courses" id="gym-shorts-list">

          </ul>

        </section>
      </article>

      <aside class="col-lg-3 col-md-4 sidebar">
        % if not user.is_authenticated():
        <div class="join-gymnasium">
          <div class="text-center">
              <h1>Join Gymnasium</h1>
            </div>
            <section class="text-center">
              <div class="row">
                <p class="col-md-12">Register to recieve email updates about new and upcoming classes.</p>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a class="gym-button" href="/register">
                    Sign up for an Account
                  </a>
                </div>
              </div>
              <p>or <a href="/login">Sign in</a>
            </section>
        </div>
        % else:
          <!-- right hand column content for when users are logged in -->
          <h1>Upcoming</h1>
          <section>
            <h2>Structuring and Organizing HTML5 Forms</h2>
            <p>This course is for anyone who wants to create forms that are usable and accessible on desktop and mobile devices. You'll learn how to take full advantage of this new standard by applying HTML5 tags and attributes to a simple web form that will work optimally in all browsers.</p>
          </section>

          <section>
            <h2>Introduction to Git and Github</h2>
            <p>This course is for developers, designers, and digital creatives who want to learn how to use this version control software to organize their work and to collaborate with others. The course provides a high level overview and a walk-though of a sample project where you'll learn many of the tasks that make up a typical workflow.</p>
          </section>
        % endif
      </aside>
    </div>
  </main>
</section>


<script>
  $(function(){
    //move courses whose IDs start with a 0 to the Gym Shorts list
    $("li.course-item[data-course-id^='0']").appendTo('#gym-shorts-list');

    //hide beta Courses
    $("li.course-item").each(function(idx, elem){
      var course_title = $(elem).find("h1")[0].innerHTML.toLowerCase().trim();

      if (course_title.indexOf("beta") == 0)
      {
        $(elem).remove();
      }
    });


  })
</script>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Completed Course Registrations
URL of the webpage where the tag is expected to be placed: http://gymnasium.aquent.com/courses
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/18/2015
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<img src="https://ad.doubleclick.net/ddm/activity/src=5255816;type=count0;cat=compl0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" alt=""/>');
</script>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=5255816;type=count0;cat=compl0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" alt=""/>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
