body.courseware
{

	header.global.slim
	{
		margin:0px;
		padding:0px;
		box-shadow:none;
		border:none;
		height:auto;
		background-color:$gym-dark-grey;
	}

	.wrapper-preview-menu
	{
		margin:0px auto 0;
	}

	.content-wrapper#content
	{
		background-color:$gym-white;
		padding-bottom:1em;
	}


	.xmodule_display.xmodule_SequenceModule nav.sequence-nav,
	.xmodule_display.xmodule_SequenceModule nav.sequence-bottom,
	{
		/* This rule HIDES the third-tier top and bottom navigation for courses! */
		display:none;
	}


}

#content header.course-profile
{
	margin-top:10px;
}

.container
{
	div.info-wrapper section.updates>ol>li h2,
	div.info-wrapper section.updates>ol article h2,
	div.info-wrapper section.updates section>li h2,
	div.info-wrapper section.updates section article h2
	{
		background:none;
		padding-left: 0;
	}
}

.content-wrapper .wrapper-course-material .course-material
{
	max-width:inherit;
}

.wrapper-course-material
{
	.course-material
	{

		#course-title-header
		{
			background-color:$gym-light-gray;

			h1
			{
				font-size:20pt;
				margin:5px 0 0 0;
				span
				{
					color:white;
					font-weight: 900;
				}
			}
		}
		.course-tabs
		{
			font-weight:normal;
			padding:0;
			margin-left:0;
			display:none;

			a
			{
				padding-left:0px;

				b
				{
			    text-transform: uppercase;
			    letter-spacing: .05em;
			    border-bottom: 1px dashed transparent;
			    vertical-align: -.15em;
					font-size:1.2em;
				}
			}

			a:hover{
				color:$gym-orange;
				background:none;
				b
				{
					border-bottom: 1px solid $gym-orange;
				}
			}

			a[class="active"]
			{
				box-shadow: none;
				text-shadow: none;
				background: none;
				color:$gym-orange;
			}


		}
	}
}

nav.progress.wrapper-course-material
{
	height:inherit; //fixes a bug with the .progress class colliding with bootstrap
}

.container>div.course-wrapper
{
	border:none;
	border-radius:0;

	.courseware-search-bar
	{
		box-shadow:none;
	}

	.course-index
	{
		color:$gym-white;
		border-right:none;
		background-color:$gym-medium-grey;
		border-radius:0;

		.course-search-input,
		.search-field-wrapper
		{
			border-radius:0;
		}

		.search-bar .search-field
		{
			background:$gym-white;
		}

		div#accordion
		{
			background-color:$gym-medium-grey;

      /* restyle the accordion sprite icon to use glyphicons from bootstrap.
         this is a hack. Love, Mike.
      */
      span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e,
      span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s
      {
        position: relative;
        top: 28px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        background:none;
        background-position:0;
        background-image:none;
        opacity:1;
        text-indent:0;
      }

      span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e:before
      {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        content: "\e080";
        color:$gym-orange;
      }

      span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s:before
      {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        content: "\e114";
        color:$gym-orange;
      }

			p.subtitle
			{
				display:none;
			}

			ul.ui-accordion-content
			{
				a
				{
					p
					{
						color:$gym-white;
					}
				}

				li.active,
				li.active a,
				li.active a p
				{
					color:$gym-orange;
					font-weight:bold;
				}
			}

			.chapter
			{
				color:$gym-white;
				background:none;
				box-shadow:none;
        padding:0;

				a
				{
					color:$gym-white;
					background:none;
					box-shadow:none;
					text-shadow:none;
					border:none;
				}
			}

		}
	}
}

/** strange specificity here to get past existing style rules, sadly **/
.container>div.info-wrapper
{
	border:none;
	border-radius:2px;
	margin-bottom:0px;
	border: 1px solid #ccc;
	font-family: "Helvetica Neue", Helvetica, sans-serif;

	p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	}

	section.updates
	{
		font-size:12pt;
		border-right:1px dashed #ccc;

		section
		{
			margin-bottom:0;
		}

		ol, ul
		{
			padding-left:0;
		}

		ul
		{
			ul
			{
				list-style: circle;
		    padding-left: 2.1em;
		    margin-left: -.96em;
			}
		}

		li
		{
			margin-top: .8em;
		}

		header.hero
		{

			p
			{
				font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
		    font-size: 1.6em;
		    line-height: 1.5;
		    letter-spacing: .01em;
		    word-spacing: .02em;
			}
		}

		article
		{
			border-bottom:none;
			margin-bottom:0;

			section
			{
				border-top: 1px solid #ddd;
				margin-top: 1.8em;

				h2
				{
					font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
			    color: #222;
			    letter-spacing: .06em;
			    word-spacing: .04em;
			    text-transform: uppercase;
			    margin-bottom: 1em;
				}

				h3
				{
					font: bold 1.2em/1.4 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
					color: #222;
					letter-spacing: .02em;
					word-spacing: .04em;
					margin-top: 1em;
					text-transform:capitalize;
				}
			}
		}

	}

	section.handouts
	{
		font-size:12pt;
		border-radius:0;
		padding:0px 20px;
		border-left:none;
		h1
		{
			padding:10px 0 0px 0;
		}
	}
}


.course-title {
	background: #777;
	}

#content .course-title header
{
	margin-top:0px;
}

.course-title h1 {
	font: 900 1.8em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	letter-spacing: .05em;
	word-spacing: .05em;
	text-transform: uppercase;
	margin-top:15px;
	margin-bottom:15px;
	text-align:left;
}


.course
{
	background: #ebebeb;
  padding-top: 0;
  padding-bottom: 0;

	h1,h2,h3,h4,h5,h6
	{
		font-family:brandon-grotesque;
		font-weight:900;
	}
	.course-info
	{
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-top:0;
		border-bottom:0;
	}

	.course-overview
	{
		background:white;
		padding:2.5em;
	}

	.teacher-image
	{
		border: 1px solid #999;
    height: 115px;
    float: left;
    margin: 0 15px 0px 0;
    overflow: hidden;
    width: 115px;

		img
		{
			display: block;
	    min-height: 100%;
	    max-width: 100%;
		}
	}

	header.hero-title
	{
		padding:1.2em;
	}

	.hero-banner
	{
		background: #777;
		border-bottom: 0px;

		h1
		{
			color:white;
			font-family:brandon-grotesque;
		}

		img
		{
			max-height:325px;
		}
	}

	.course-metabar
	{
		background: #444;
		padding: 2.2em;

		strong
		{
			font: 1.4em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
			color: #ccc;
		}

	}

	.level strong
	{
		font-weight: normal;
	}
}

.final-exam-status
{
	padding: 1.8em;
  border: 1.2em solid #444;
  border-radius: 2px;
  margin-top: 1.8em;
  margin-bottom: 1.8em;

	h2
	{
		font: 900 1.8em/1.1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .03em;
    text-align: center;
    margin-bottom: .6em;
	}

	h2 + p {
    font-size: 1.6em;
    margin-top: .5em;
	}

	p
	{
		margin-top: 1em;
		font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1.2em;
		line-height: 1.5;
	}

	.survey
	{
		text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 1.4em;
	}
}



/*** COURSE ABOUT SECTION ***/

.course-about-overview
{
	.hero
	{
		p
		{
			font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 1.6em;
			line-height: 1.5;
			letter-spacing: .01em;
			word-spacing: .02em;
		}
	}
}

.course-about-overview section {
	border-top: 1px solid #ddd;
	margin-top: 1.8em;
}

.course-about-overview {
	border-bottom: 0;
	border-right: 1px dashed #ccc;
}

.course-about
{
	a,
	a:link,
	a:visited
	{
		font-family:  "Helvetica Neue", Helvetica, sans-serif;
	}

	h2
	{
		font: 900 1.2em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
		color: #222;
		letter-spacing: .06em;
		word-spacing: .04em;
		text-transform: uppercase;
		margin-bottom: 1em;
		margin-top:1em;
	}

	h3
	{
		font: bold 1.2em/1.4 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
		color: #222;
		letter-spacing: .02em;
		word-spacing: .04em;
		margin-top: 1em;
		text-transform:capitalize;
	}

	ol,
	ul
	{
		padding-left: 0;
	}
 }

.course-about-overview li {
	margin-top: .8em;
}


#course-preview iframe {
		margin-top: .6em;
}

.course-about-sidebar {
	padding: 0 1.1em;
	border-top: 0;
	margin: 0;

	h2
	{
		margin-top:0
	}
}

/*** END COURSE ABOUT SECTION ***/


/*** FORUMS ***/
.container .discussion-body .blank-slate .label
{
	font-size:1.4em;
	color:black;
}

span.field-help {
    font-family: "Helvetica Neue";
}

html
{
	 body.discussion
	 {
		 .course-tabs .right .new-post-btn
		 {
			 	margin-top:0.2em;
		 }

		 .wmd-prompt-dialog, .discussion-module .wmd-prompt-dialog, .discussion-user-threads .wmd-prompt-dialog
		 {
			 	height:auto;
		 }
	 }
}
