<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />




<article id="${course.id | h}" class="gym-course">
  %if course.is_newish:

  %endif
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
  <div class="course-inner-wrapper">
      <section class="info text-center">
        <figure class="cover-image">
          <img class="img-responsive" src="${course_image_url(course)}" alt="${course.display_number_with_default | h} ${get_course_about_section(course, 'title')} Cover Image" />
        </figure>
      </section>

      <header class="course-preview">
        <h2>${get_course_about_section(course, 'title')}</h2>
      </header>
    </div>
  </a>
</article>
