<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%block name="pagetitle">${_("Home")}</%block>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)

%>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Gymnasium HP
URL of the webpage where the tag is expected to be placed: http://gymnasium.aquent.com/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/02/2015
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


<section class="home">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 hidden-md hidden-lg">
          <a class="gym-button" href="/courses"><b>Enroll in a Class</b></a>
        </div>
        <div class="col-md-9 col-sm-12 marketing-image-container">
          <a href="/courses"><img src="${static.url('themes/gymnasium/images/marketing-campaign/sit_and_get_fit.png')}" class="img-responsive sit-and-get-fit"></a>
        </div>
        <div class="col-md-3 col-sm-12">
          <hgroup class="title">
            <h1>${_("Join Gymnasium")}</h1>
            <h2 class="tk-brandon-grotesque">${_("Free courses. Practical skills. Unlimited potential.")}</h2>
            <a class="gym-button" href="/courses">Enroll in a Class</a>
          </hgroup>
        </div>
        ## Disable social buttons for non-edX sites
        % if not self.theme_enabled():
          <section class="actions">
            <div class="main-cta">
              <a href="#signup-modal" id="signup_action" class="find-courses" rel="leanModal">${_("Sign Up")}</a>
            </div>

            <div class="secondary-actions">
              <div class="social-sharing">
                <div class="sharing-message">${_("Stay up to date with all {platform_name} has to offer!").format(platform_name=settings.PLATFORM_NAME)}</div>
                <a href="https://twitter.com/edXOnline" class="share">
                  <img src="${static.url('images/social/twitter-sharing.png')}">
                </a>
                <a href="http://www.facebook.com/EdxOnline" class="share">
                  <img src="${static.url('images/social/facebook-sharing.png')}">
                </a>
                <a href="https://plus.google.com/108235383044095082735/posts" class="share">
                  <img src="${static.url('images/social/google-plus-sharing.png')}">
                </a>
              </div>
            </div>
          </section>
          % endif
      </div>

      % if show_homepage_promo_video:
        <!--
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
        -->
      % endif
    </div>
  </header>

  <section class="container-fluid subsection">
    <div class="container">
      <header class="header-tab text-center">
        <h1>Why Gymnasium Works</h1>
      </header>

      <section class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2>Real World Skills</h2>
          <p>Gymnasium offers free online courses designed to teach creative professionals in-demand skills.  We know these skills are in demand based on what we hear from our clients.</p>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2>Expert Instruction</h2>
          <p>Our courses are all self-paced and taught by experienced practitioners with a passion for sharing practical lessons from the design trenches.</p>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2>Career Opportunities</h2>
          <p>Once you finish a course, you will be able to use your new skills in your current role, or use them to land a new job. <a href="http://aquent.com/find-work/" target="_blank">We can even help with that!</a></p>
        </div>
      </section>

      <div class="row">
        <hr class="col-md-10 col-md-offset-1" />
      </div>

      <div class="row">
        <div class="text-center">
          <h1>Featured Courses</h1>
        </div>

        <section class="row col-md-12 ">
          <section class="highlighted-courses">
            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
              <section class="courses row">
                <ul class="course-list row">
                  %for idx, course in enumerate(courses):
                    % if course.is_newish:
                        <li class="course-list-item col-lg-4 col-md-6 col-sm-12 col-xs-12 ">
                          <%include file="course.html" args="course=course" />
                        </li>

                    %endif
                  %endfor
                </ul>
                <div class="col-md-12 text-center">
                  <a href="/courses" class="gym-button">
                    <b>View all Courses</b>
                  </a>
                </div>
              </section>
            % endif
          </section>
        </section>

        <div class="row">
          <div class="testimonial">
            <figure class="quote">
              <blockquote>
                <p><strong>I really enjoyed this course!</strong></p>
                <p>Even complex stuff seemed almost easy with you.</p>
                <figcaption>Mailys</figcaption>
              </blockquote>
            </figure>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- <section class="container-fluid">
    <div class="container" id="get-work">
      <header class="header-tab text-center">
        <h1>Get Work</h1>
      </header>
      <section class="row" >
        <div class="text-center col-md-6 col-md-offset-3">
          Because we are also a lead talent agency, your newly learned skills can be put to work on many of our jobs...
        </div>

        <div class="3"><br /></div>

        <hr class="col-md-8 col-md-offset-2" />

        <div class="row col-md-8 col-md-offset-2">
          <article>
            <a class="col-md-5 col-md-offset-1">
              <h1>Front End Web Dev</h1>
              <em>Dallas, TX</em>
            </a>
          </article>

          <article>
            <a class="col-md-5 col-md-offset-1">
              <h1>Front End Web Dev</h1>
              <em>Dallas, TX</em>
            </a>
          </article>
        </div>


        <hr class="col-md-8 col-md-offset-2" />

        <div class="row col-md-8 col-md-offset-2">
          <article>
            <a class="col-md-5 col-md-offset-1">
              <h1>UX Designer</h1>
              <em>Framingham, MA</em>
            </a>
          </article>

          <article>
            <a class="col-md-5 col-md-offset-1">
              <h1>UI Designer</h1>
              <em>Framingham, MA</em>
            </a>
          </article>
        </div>


        <hr class="col-md-8 col-md-offset-2" />

        <div class="row col-md-8 col-md-offset-2">
          <article>
            <a class="col-md-5 col-md-offset-1">
              <h1>Web Designer</h1>
              <em>New York, NY</em>
            </a>
          </article>

          <article>
            <a class="col-md-5 col-md-offset-1">
              <h1>Web Designer</h1>
              <em>New York, NY</em>
            </a>
          </article>
        </div>

        <div class="col-md-8 col-md-offset-2 text-center">
          Find more featured jobs at <a href="http://aquent.com">Aquent.com</a>
        </div>
      </section>
    </div>
  </section> -->

  % if not user.is_authenticated():

  <section class="container-fluid subsection">
    <div class="container" id="join-gymnasium">

        <header class="header-tab text-center">
          <h1>Join Us</h1>
        </header>
        <section class="text-center">
          <em><a href="/register">Join Gymnasium Now</a></em>

          <div class="row">
            <p class="col-md-8 col-md-offset-2">Register to receive email updates about new and upcoming classes.</p>
          </div>

          <div class="row">
            <div class="col-md-4"></div>
            <a class="gym-button col-md-4 col-md-offset-4" href="/register">
              ${_("Sign up for an account")}
            </a>
          </div>

          <p>or <a href="/login">Sign in</a>
        </section>
    </div>
  </section>
  % endif


  <section class="container-fluid subsection" id="as-seen-in">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">As seen in:</h2>
        </div>

        <ul class="col-md-12 list-inline text-center">
          <li>
            <a href="http://www.fastcompany.com/3024661/innovation-agents/hacking-hack-schools-to-make-them-work" target="_blank">
              <img src="${static.url('themes/gymnasium/images/as-seen-in/fastco.png')}" alt="Aquent Gymnasium" class="img-responsive center-block" />
            </a>
          </li>
          <li>
            <a href="http://www.forbes.com/sites/sap/2015/02/23/hate-formal-career-training-go-guerrilla-on-it/" target="_blank">
              <img src="${static.url('themes/gymnasium/images/as-seen-in/forbes.png')}" alt="Aquent Gymnasium" class="img-responsive center-block" />
            </a>
          </li>
          <li>
            <a href="http://www.inc.com/issie-lapowsky/how-moocs-training-tomorrow-workforce.html" target="_blank">
              <img src="${static.url('themes/gymnasium/images/as-seen-in/inc.png')}" alt="Aquent Gymnasium" class="img-responsive  center-block" />
            </a>
          </li>
          <li>
            <a href="http://www.lemonde.fr/emploi/article/2014/06/30/les-firmes-americaines-recrutent-dans-les-mooc_4448062_1698637.html" target="_blank">
              <img src="${static.url('themes/gymnasium/images/as-seen-in/le-monde-fr.png')}" alt="Aquent Gymnasium" class="img-responsive center-block" />
            </a>
          </li>
          <li>
            <a href="http://www.foxbusiness.com/personal-finance/2014/03/07/training-workers-netflix-way-moocs-in-job-industry/" target="_blank">
              <img src="${static.url('themes/gymnasium/images/as-seen-in/fox-business.png')}" alt="Aquent Gymnasium" class="img-responsive center-block" />
            </a>
          </li>
        </ul>

      </div>
    </div>
  </section>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }

         Gymnasium.injectFBTrackingPixel();
      })
   </script>

</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
