## mako

<%namespace name='static' file='/static_content.html'/>

<!-- insert typekit font references -->
<script src="//use.typekit.net/rhf0qta.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<!-- bootstrap! -->
<!-- local reference for offline testing only -->
<!-- <link rel="stylesheet" href="${static.url('themes/gymnasium/css/bootstrap.css')}" > -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
<script src="${static.url('themes/gymnasium/js/prism.js')}"> </script>
<script src="${static.url('themes/gymnasium/js/cookiebanner.js')}" id="cookiebanner"
	data-link="#f89820"
	data-message="We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies. Find out more about how we use cookies in our"
	data-linkmsg="Privacy Policy."
	data-moreinfo="/tos">
</script>

<script src="${static.url('themes/gymnasium/js/gymnasium.js')}"> </script>

<script>
	//this is a nonsense hack to make courseware subnavigation look like
	//what we want it to look like until we move to Cypress
	//TODO: Unhackify this.


	$(function(){
		debugger;
		$('.course-tabs li a b:contains("Courseware")').each(function(idx, value){
			value.innerHTML = "Lessons";
		});

		$('.course-tabs li a b:contains("Course Info")').each(function(idx,value){
			value.innerHTML = "Syllabus";
		});
		$('.course-tabs li:contains("Progress")').hide();
		$('.course-tabs').show();
	});
</script>
