## mako

<%namespace name='static' file='/static_content.html'/>

<!-- insert typekit font references -->
<script src="//use.typekit.net/rhf0qta.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<!-- bootstrap! -->
<!-- local reference for offline testing only -->
<!-- <link rel="stylesheet" href="${static.url('themes/gymnasium/css/bootstrap.css')}" > -->	

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
<script src="${static.url('themes/gymnasium/js/prism.js')}" />

