## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer class="container">
    <div class="row">
      <nav>
        <div class="col-md-4">
          <img  src="${static.url('themes/gymnasium/images/gymnasiumLogo.png')}" alt="Aquent Gymnasium" >  
        </div>
        <ol class="list-inline col-md-4 text-center footer-link-list">
          <li><a href="${reverse('about')}">About</a></li>
          <li><a href="${reverse('about')}#contact">FAQ</a></li>
          <li><a href="${marketing_link('FAQ')}">Support</a></li>
          <li><a href="${reverse('tos')}">Privacy Policy</a></li>
        </ol>
      </nav>

      <div class="built-on col-md-4 text-center">
        <span>
          Built on 
          <a href="http://code.edx.org">
            <img src="${static.url('images/edx-logo-bw.png')}" alt="Open EdX">
          </a>
        </span>
      </div>
    </div>
  </footer>
</div>
