<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
%>

<%namespace name='static' file='static_content.html'/>
<h2 class="hd hd-2 problem-header">
  ${ problem['name'] }
</h2>
<div class="problem-progress"></div>

<div class="passed_modal hidden final-exam-status" aria-hidden="true" id="course_passed_message">
  <div class="row">
    <div class="col-md-12">
      <br />
      <h2>Congratulations!</h2>
      <p>Congratulations on completing the course and passing the final exam with flying colors. You really know your stuff!</p>

      <p>Show off to your friends and colleagues by downloading your Certificate of Excellence from your <a href="/dashboard">Dashboard</a>.</p>


      <div class="survey">
        <p>Before you head on to your next achievement, could you please take a moment to share your thoughts with us on a quick survey? Your feedback will help shape our future course offerings and let us know how <b>we’re</b> doing.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <a class="gym-button text-center col-md-2 col-md-offset-5" href="https://www.surveymonkey.com/s/JYJPMSS" target="_blank">
      Take Our Survey
    </a>
  </div>
</div>

<div class="try_again_modal hidden final-exam-status" aria-hidden"true">
  <div class="row">
    <div class="col-md-12">
      <br />
      <h2>YOU'RE CLOSE!</h2>
      <p>We're thrilled you’ve made it this far. You’ve scored a <span class="exam-score-container"></span> on the exam. To pass you need to get greater than an 85.</p>

      <p>Lucky for you, you've still got one more chance to pass. This would be a great time to go back and review the course material. Take a look at things you may have struggled with and have another go when you feel prepared. </p>

      <p>Good luck!</p>

    </div>
  </div>
</div>

<div class="failed_modal hidden final-exam-status" aria-hidden="true">
  <div class="row">
    <div class="col-md-12">
      <br />
      <h2>AW, SHUCKS.</h2>
      <p>Don’t worry, you deserve a lot of credit for finishing the course! Only 1 in 10 students who takes an online course like this actually ever finishes, so your commitment puts you in an elite crowd.</p>

      <div class="survey">
        <p>We’re thrilled you’ve joined us and would love your feedback to make our courses even better. If you could take a moment to share your thoughts with us on a quick survey, it would help shape our future offerings.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <a class="gym-button text-center col-md-2 col-md-offset-5" href="https://www.surveymonkey.com/s/JYJPMSS" target="_blank">
      Take Our Survey
    </a>
  </div>
</div>

<div class="problem" aria-relevant="all">
  <div aria-live="polite">
    ${ HTML(problem['html']) }
  </div>

  <div class="action">
    <input type="hidden" name="problem_id" value="${ problem['name'] }" />
    % if demand_hint_possible:
    <div class="problem-hint" aria-live="polite"></div>
    % endif
    % if check_button:
    <button class="gym-button natural check ${ check_button }" data-checking="${ check_button_checking }" data-value="${ check_button }"><span class="check-label">${ check_button }</span><span class="sr"> ${_("your answer")}</span></button>
    % endif
    % if demand_hint_possible:
    <button class="gym-button natural hint-button" data-value="${_('Hint')}">${_('Hint')}</button>
    % endif
    % if reset_button:
    <button class="gym-button natural reset" data-value="${_('Reset')}">${_('Reset')}<span class="sr"> ${_("your answer")}</span></button>
    % endif
    % if save_button:
    <button class="gym-button natural save" data-value="${_('Save')}">${_('Save')}<span class="sr"> ${_("your answer")}</span></button>
    % endif
    % if answer_available:
    <button class="gym-button natural show"><span class='sr'>${_('Toggle Answer Visibility')}</span><span class="show-label">${_('Show Answer')}</span></button>
    % endif
    % if attempts_allowed :
    <div class="submission_feedback" aria-live="polite">
      ${_("You have used {num_used} of {num_total} submissions").format(num_used=attempts_used, num_total=attempts_allowed)}

      <span class="hidden attempts_used">${attempts_used}</span>
      <span class="hidden attempts_total">${attempts_allowed}</span>
    </div>
    % endif
  </div>
</div>

<script>
  $(function(){
    Prism.highlightAll();
  });

  $(function(){

    if ($('.problem-header').text().trim() === "Final Exam")
    {
      var progress_status_check = setInterval(check_status, 200); 
    }
    else {
      return;
    }

    function check_status(){
      var status = $('[data-progress_status]').attr('data-progress_status').trim();


      var progress_string = $('.problem-progress').text().trim();
      var slash = progress_string.indexOf("/");

      if (status === 'done' || slash >= 0 || progress_string.indexOf("possible") >= 0)
      {
        clearInterval(progress_status_check);
        show_problem_progress();
      }
    }

    var show_problem_progress = function(){

      var progress_string = $('.problem-progress').text().trim();
      var slash = progress_string.indexOf("/");

      if (progress_string.indexOf("possible") >= 0 )
      {
        return;
      }
      var slash = progress_string.indexOf("/");
      var correct = progress_string.substring(1,slash);
      var out_of = progress_string.substring(slash+1);
      var out_of = out_of.substring(0, out_of.indexOf(" "))

      var score = correct / out_of * 100; //score out of 100

      $('.exam-score-container').text(score);

      var attempts_used = $('.attempts_used').text();
      var attempts_total = $('.attempts_total').text();
      var attempts_remaining = attempts_total - attempts_used;


      var passing_score = 85;

      if (progress_string.length > 0)
      {
        //we have a score
        if (score >= passing_score)
        {
          //we passed! show passing div
          $(".passed_modal").removeClass('hidden');
          $(".try_again_modal").addClass('hidden');
          $(".failed_modal").addClass('hidden');

          //generate the certificate through the API
          $.ajax({
            type:     'POST',
            url:      '/request_certificate',
            data:     {'course_id': $$course_id},
            success:  function(data) {
            }
          });

        }
        else
        {
          //we failed :( see if we have another attempt
          if (attempts_remaining > 0)
          {
            $(".passed_modal").addClass('hidden');
            $(".try_again_modal").removeClass('hidden');
            $(".failed_modal").addClass('hidden');
          }
          else
          {
            $(".passed_modal").addClass('hidden');
            $(".try_again_modal").addClass('hidden');
            $(".failed_modal").removeClass('hidden');
          }
        }
      }
    }
  });
</script>