<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from django.utils import html
from django_countries import countries
from student.models import UserProfile
from datetime import date
import third_party_auth
from third_party_auth import pipeline, provider
import calendar
import urllib2
%>

<%block name="pagetitle">${_("Register for {platform_name}").format(platform_name=platform_name)}</%block>

<%block name="bodyclass">view</%block>

<%block name="js_extra">

  <script type="text/javascript">
    $(function() {
      //magic up this page if auto-reg is in the url
      if (window.location.href.indexOf('auto-reg') > 0)
      {
        //we're in the auto-reg page, pretty it up
        console.log('auto-reg present.  modifying page');
        $('.migration-message').hide();
        $('#already-registered').hide();
        $('#page-title').text("Reactivate your Account");
        $('#page-subtitle').text("Please complete the following required information to reactivate your Gymnasium account.");
        $('#submit b').text("ACTIVATE NOW");
        $('#email-tip').html("<b>Note</b>: if you need to change your email address, please do that after you've reactivated your account.");

        window.intercomSettings.email = $('#email').val();
        window.intercomSettings.created_at = Math.round((new Date()).getTime() / 1000);

        Intercom('trackEvent', 'reactivated-legacy-account');
      }

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]').click( function() {
        window.open( $(this).attr('href') );
        return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

      var enrollment_action = Gymnasium.getUrlParameter("enrollment_action");
      if( enrollment_action === "enroll")
      {
        var course_id = Gymnasium.getUrlParameter("COURSE_ID").trim();
        switch(course_id.toUpperCase())
        {
          case "GYM/105/0":
          case "GYM/005/0":
          case "GYM/100/0":
          case "GYM/104/0":
          case "GYM/106/0":
            //Gymnasium.injectFBTrackingPixel();
            break;
          default:
            //not a special course, we won't do tracking here
        }
      }
    });

    (function() {
      toggleSubmitButton(true);

      $('#register-form').on('submit', function() {
        toggleSubmitButton(false);
      });

      $('#register-form').on('ajax:success', function(event, json, xhr) {
        var nextUrl = "${login_redirect_url}";
        if (json.redirect_url) {
          nextUrl = json.redirect_url; // Most likely third party auth completion. This trumps 'nextUrl' above.
        }

        var fname = $('#name').val().split(" ")[0];
        var lname = $('#name').val().split(" ")[1];
        var market_id = $('#market').val();
        var market_name = $('#market option:selected').text();
        var email = $('#email').val();

        Gymnasium.RecordRegistration(email, fname, lname, market_id, function(){
            //navigate AFTER we confirm the registration is complete.
            if (!isExternal(nextUrl)) {
              location.href=nextUrl;
            } else {
              location.href="${reverse('dashboard')}";
            }
        });

      });

      $('#register-form').on('ajax:error', function(event, jqXHR, textStatus) {
        toggleSubmitButton(true);
        json = $.parseJSON(jqXHR.responseText);
        $('.status.message.submission-error').addClass('is-shown').show().focus();
        $('.status.message.submission-error .message-copy').html(json.value).stop().css("display", "block");
        $(".field-error").removeClass('field-error');
        $("[data-field='"+json.field+"']").addClass('field-error')
      });
    })(this);

    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          removeClass('is-disabled').
          attr('aria-disabled', false).
          removeProp('disabled')
        
        $submitButton[0].removeAttribute('disabled');
      }
      else {
        $submitButton.
          addClass('is-disabled').
          prop('disabled', true).
          text("${_('Processing your account information')}");
      }
    }


  </script>
</%block>

<div class="container-fluid">
  <div class="container register">
    <div class="row">
      <div class="col-md-9 sign-up">

        <header class="row">
          <h1 class="title col-md-12" id="page-title">
            % if not running_pipeline:
              ${_("Sign up for your free account")}
            % else:
              ${_("You've successfully signed in with {selected_provider}.").format(selected_provider='<strong>%s</strong>' % selected_provider)}<br />
            % endif
          </h1>
        </header>

        <div class="row">
          <form role="form" class="col-md-12" id="register-form" method="post" data-remote="true" action="/create_account" novalidate>
            <%
              # allow for theming override on the registration form
              registration_form = static.get_template_path('register-form.html')
            %>
            <%include file="${registration_form}" />
          </form>
        </div>

      </div>
      
      <div class="col-md-3 additional-information">
        ${urllib2.urlopen('https://gymnasium.github.io/static-site-content/register-sidebar.html').read()}
      </div>
    </div>
  </div>
</div>

<!-- script to automatically fill out reg form -->
<script>
$(function() { // http://example.com?auto-reg&email=abc@aol.com&name=first%20last&market=Boston
    var split = window.location.href.split('?');
    var queryParams = split[split.length-1];

    var email, name, market;
    if (queryParams.indexOf('auto-reg') > -1) {
        var segs = queryParams.split('&');

        var x;
        for(x=0; x< segs.length; x++) {
            var segment = segs[x];

            if(segment.indexOf('email') > -1) {
                email = segment.split('=')[1];
                email = window.decodeURI(email);
            }

            if(segment.indexOf('name') > -1) {
                name = segment.split('=')[1];
                name = window.decodeURI(name);
            }

            if(segment.indexOf('market') > -1) {
                market = segment.split('=')[1];
                market = window.decodeURI(market);
            }
        }

        //email field is disabled if present in querystring
        if(email) {
            $('input#email').val(email);
            $('input#email').prop('readonly',true);
        }

        if(name) {
            $('input#name').val(name);
        }

        if(market) {
            //$('select#market').val(market);
            $('select#market option').filter(function() {
                return this.text == market;
            }).attr('selected',true);
        }
    }
})

</script>
