{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}You're receiving this e-mail because you requested a password reset for your Gymnasium user account.{% endblocktrans %}

{% trans "Please create a new password by clicking the link below, or you can also copy and paste the link into your browser's address bar." %}
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{% trans "You can disregard this email if you didn't request a reset. Your current password has not changed." %}

{% trans "Need additional assistance? Visit the support page on our website." %}

{% trans "Thanks!" %}

{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}

{% endautoescape %}
